<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link href="./style.css" rel="stylesheet">
    
    
</head>
<body>
    <div id="app">
    <header>
        <!-- <input type="text" class="searchInp">
        <button class="searchBut" type="button">Искать</button> -->
            <search-comp v-bind='searchInp'></search-comp>

        <!-- <div class="goods-item" v-for='item in contents'>
            <p>{{item.id_product}</p>
            <h3>{{item.product_name}}</h3>
            <p>{{item.price}}</p>
            <p>{{item.quantity}}</p>
            <button class='add' type='button'>+</button>
            <button class='del' type='button'>-</button></div>
        </div>
        <button class="cart-button">Корзина</button>
        <p class="count">{{countGoods}}</p>
        <p class="cost">{{amount}}</p> -->
        <cart-comp></cart-comp>
    </header>
    <main>
        <goods-list v-bind='filteredGoods'></goods-list>
        <!-- <div class="good-list" ></div>
        <div class="goods-item" v-for='good in filteredGoods'>
            <p>{{good.id_product}}</p>
            <h3>{{good.product_name}}</h3>
            <p>{{good.price}}</p>
            <button class='add' type='button'>+</button>
            <button class='del' type='button'>-</button>
        </div> -->
        
    </main>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <script src="cart-comp.js" defer></script>
    <script src="search.js" defer></script>
    <script src="goods-list.js" defer></script>
    <script src="goods-item.js" defer></script>
    
</body>
</html>